main {
  min-height: 100vh;
  display: grid;
  align-content: center;
  place-content: center;
  text-align: center;
}
h1 {
  font-size: 4em;
  font-weight: 900;
}
h2 {
  font-size: 3em;
  font-weight: 700;
}
div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
svg {
  width: 20%;
  animation: pulse 1s ease-in-out infinite;
}
@keyframes pulse {
  50% {
    color: red;
  }
}
